@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #5a5a5a;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  padding: 30px 10%;
}

header h1 {
  margin-bottom: 15px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0% 10%;
  margin-bottom: 30px;
  gap: 20px;
}

.container {
  width: 250px;
  height: 270px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.container:hover {
  scale: 1.05;
}

.container > .imgWrapper {
  width: 100%;
  height: 165px;
  min-height: 165px;
  overflow: hidden;
  position: relative;
  background-color: rgb(211, 211, 211);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.imgWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  animation: pulse 2.5s infinite linear;
}

.imgWrapper.loaded::before {
  display: none;
  animation: none;
}

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.imgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  opacity: 0;
}

.imgWrapper.loaded > img {
  opacity: 1;
}

.imgWrapper .layer {
  width: 100%;
  height: 100%;
  background-color: #00000070;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover {
  opacity: 1;
}

.imgWrapper:hover img {
  scale: 1.05;
}

.layer i {
  font-size: 30px;
  color: #fff;
}

.container .text {
  width: 100%;
  flex: 1;
  padding: 20px;
}

.container p {
  font-size: 15px;
  margin-top: 5px;
}
